<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <header><%- include("../partials/nav.ejs") %></header>
    <div class="main">
      <% if (success) { %>
      <div class="alert alert-success"><%= success %></div>
      <% } %>
      <h1><%= message.title %></h1>
      <p><%= message.text %></p>
      <p>Created by <%= message.user.username %></p>
      <% if (currentUser && currentUser.id == message.user.id) { %>
      <a href="/messages/<%= message._id %>/edit">Edit</a>
      <form
        action="/messages/<%= message._id %>?_method=DELETE"
        method="POST"
      >
        <button type="submit">Delete</button>
      </form>
      <% } %>
    </div>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
