<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>
  <body>
    <%- include("../partials/nav.ejs") %>
    <section class="hero is-medium">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-2">Welcome, <%= user.firstName %>!</h1>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <p class="is-size-4">Here are your options:</p>
        <ul class="profile">
          <li class="column is-4">
            <a
              class="button is-info is-fullwidth is-size-5"
              href="/messages"
              >View Message Board</a
            >
          </li>
          <li class="column is-4">
            <a
              class="button is-info is-fullwidth is-size-5"
              href="/messages/<%= user._id %>/my-messages"
              >My Messages</a
            >
          </li>
          <li class="column is-4">
            <a
              class="button is-info is-fullwidth is-size-5"
              href="/logout"
              >Logout</a
            >
          </li>
        </ul>
      </div>
      <% if (!currentUser.isMember) { %>
      <section class="section">
        <h2 class="title is-3">Become a member</h2>
        <p class="subtitle is-5">
          Want to become a member? Enter the secret password:
        </p>
        <small
          >Hint: check the console with the developer tools</small
        >
        <form
          action="/users/<%= currentUser._id %>/become-member"
          method="POST"
          class="form"
        >
          <div class="field">
            <div class="control has-icons-left">
              <input
                type="text"
                name="secretPassword"
                placeholder="Secret password"
                class="input is-medium"
              />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <button class="button is-medium is-info" type="submit">
                Become a member
              </button>
            </div>
          </div>
        </form>
        <% if (typeof secretPassword !== 'undefined' && secretPassword
        === 'incorrect') { %>
        <p class="has-text-danger">
          Sorry, you did not guess the secret password
        </p>
        <% } %>
      </section>
      <% } %>
    </section>
    <%- include("../partials/footer.ejs") %>
  </body>
</html>

<% if (message && message.text === "Wrong secret password") { %>
<script>
  alert("Wrong secret password");
</script>
<% } %>

<script>
  console.log(
    "What is black and white, and not really read all over anymore?"
  );
</script>
